@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --light-gray: #e7e9ef;
  --dark-gray: #a2aab2;
  --dark-text: #343637;
  --blue-text: #5b76d8;
  --green-indicator: #62cc5c;
  --aside-size: 200px;
  --inbox-size: 460px;
}

* {
  /* all */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body,
main,
aside,
body,
.inbox {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
input {
  outline: none;
}

.menu__item--left {
  position: absolute;
  background: var(--light-gray);
  width: var(--aside-size);
  top: 0;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  box-sizing: border-box;
}
.logo {
  display: flex;
  margin: 10px 47px 0 0;
  color: var(--dark-text);
}
.la-cube {
  display: block;
  font-weight: 900;
  font-size: 40px;
  margin-top: -10px;
  margin-right: 10px;
  color: var(--blue-text);
}
.nav__list {
  margin-top: 50px;
}
.nav__item {
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  height: 38px;
  border-radius: 0 6px 6px 0;
  text-align: center;
  padding: 10px;
}
.nav__item:hover {
  cursor: pointer;
  transition: 0.5s;
  border-right: 3px solid orange;
  background: var(--dark-gray);
}
.nav__item--active {
  background: var(--light-gray);
  border-right: 3px solid orange;
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  height: 38px;
  border-radius: 0 6px 6px 0;
  text-align: center;
  padding: 10px;
}
.nav__item,
.nav__item--active:not(:last-child) {
  margin-bottom: 30px;
}
.nav__item-link {
  text-decoration: none;
  color: rgb(39, 40, 41);
}
.menu__filter {
  display: flex;
  align-items: left;
}
.filter__title {
  text-transform: uppercase;
  color: var(--dark-gray);
  font-size: 12px;
  font-weight: 300;
  position: relative;
  right: 40px;
  bottom: 18px;
}
.filter__text {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 16px;
}
.filter__icon--red {
  border: 1px solid red;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 6px;
  margin-right: 5px;
}
.filter__icon--blue {
  border: 1px solid blue;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 6px;
  margin-right: 5px;
}
.filter__icon--violet {
  border: 1px solid blueviolet;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 6px;
  margin-right: 5px;
}
.filter__icon--green {
  border: 1px solid green;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 6px;
  margin-right: 5px;
}
.filter__item {
  margin-top: 16px;
  color: var(--dark-text);

  list-style: none;
}
.filter__counter {
  height: 138px;
  margin-top: 10px;
  position: relative;
  bottom: 25px;
  left: 20px;
}
.filter__item--counter {
  width: 24px;
  height: 21px;
  font-size: small;
  text-align: center;
  border-radius: 4px;
  background: var(--dark-gray);
  color: var(--dark-text);
  margin-top: 15px;
  padding: 3px;
}
.inbox {
  border-right: 1px solid grey;
  width: var(--inbox-size);
  padding: 20px;
}
main {
  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - var(--aside-size));
  display: flex;
}
.inbox__dialog {
  width: 100%;
  height: 677px;
  overflow: scroll;
}
.dialog__item {
  height: 100px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  border-radius: 17px;
  padding: 15px;
}
.dialog__item:hover {
  cursor: pointer;
  transition: 0.15s;
  background: var(--light-gray);
}
hr {
  background: linear-gradient(180deg, #0000001a, #000);
  margin-bottom: 15px;
  height: 1px;
  border: none;
}
.dialog__item--activ {
  background: var(--light-gray);
}
.dialog__item--inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
}
.dialog__item--avatar {
  width: 68px;
  height: 58px;
  position: relative;
  margin-right: 5px;
  border-radius: 18px;
}
.dialog__item--online {
  width: 12px;
  height: 10px;
  background: var(--green-indicator);
  position: relative;
  left: -15px;
  top: 23px;
  border: 2px solid var(--light-gray);
  border-radius: 25px;
}
.dialog__item--offline {
  color: var(--dark-gray);
}
.item__name {
  font-weight: 500;
  color: var(--dark-text);
}
.item__profession {
  color: var(--dark-gray);
}
.item__preview {
  color: var(--dark-text);
}
.item__numbers {
  background: var(--blue-text);
  width: 24px;
  height: 18px;
  text-align: center;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
}
.chat {
  border-right: 1px solid grey;
  width: calc(100% - 250px - 50px);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.chat__header {
  width: 100%;
  height: 105px;
  background: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 25px 0;
  border-bottom: 1px solid var(--light-gray);
}
.header__block--left {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}
.header__avatar {
  width: 55px;
  height: 55px;
  border-radius: 25px;
}
.header__online {
  width: 13px;
  height: 13px;
  background: var(--green-indicator);
  border: 2px solid #fff;
  border-radius: 25px;
  position: relative;
  right: 15px;
  top: 20px;
}
.header__name {
  font-weight: 500;
}
.header__status {
  color: var(--light-gray);
}
.header__text {
  display: flex;
  flex-direction: column;
}
.header__block--right {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  width: 300px;
}
.header__search {
  height: 30px;
  border: none;
  border-radius: 8px;
  background: var(--light-gray);
  margin-left: 20px;
  width: 175px;
  padding-left: 15px;
}
.header__search:hover {
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.chat-item {
  height: 80px;
  background: rgb(143, 143, 147);
  /* надо поправить, чтобы отступ был у всех кроме последнего */
  margin-bottom: 1rem;
}
.conteiner,
.messages {
  overflow: scroll;
  height: 89%;
}
.container::-webkit-scrollbar,
.messages::-webkit-scrollbar {
  display: none;
}
.chat-top,
.chat-bottom {
  height: 60px;
  background: grey;
}
.message {
  height: 20px;
  background: blue;
  margin-bottom: 1rem;
}
.btn {
  border-radius: 10px;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  font-size: 20px;
  border: none;
  color: var(--dark-text);
}
.btn:hover {
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid var(--dark-gray);
}
.inbox__title--wrp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.inbox__switcher {
  display: flex;
  background: var(--light-gray);
  padding: 5px;
  border-radius: 6px;
  margin: 25px;
}
.inbox__switcher--button {
  width: 50%;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  background: transparent;
  color: var(--dark-gray);
}
.inbox__switcher--button--activ {
  background: #fff;
  color: var(--dark-text);
}
.chat__area {
  width: 90%;
  height: 80%;
  background: linear-gradient(323deg #000 transparent);
}
.chat__date {
  font-size: 20px;
  color: var(--dark-gray);
  position: relative;
  top: 12px;
  left: 25px;
}
.messages {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: scroll;
  padding: 1rem 2rem;
  background: transparent;
  height: 100%;
}
.messages::-webkit-scrollbar {
  display: none;
}
.message__item--right,
.message__item--left {
  display: flex;
  flex-direction: column;
}
.message__item--right {
  align-items: flex-end;
}
.message__item--left {
  align-items: flex-start;
}
.message__time {
  color: var(--light-gray);
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}
.message__item--white,
.message__item--grey {
  padding: 10px 15px;
  font-size: 1.2rem;
  color: var(--dark-gray);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.message__item--white {
  background: #fff;
}
.message__item--grey {
  background: var(--light-gray);
}
.chat__footer {
  border-top: 1px solid var(--light-gray);
  height: 90px;
  width: 90%;
  background: transparent;
}
.chat__footer--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 0 0;
  background: transparent;
}
.message__input {
  width: 65%;
  height: 60px;
  border: none;
  background: transparent;
  margin-left: 50px;
}
.message__input:hover {
  cursor: pointer;
  transition: 0, 5s;
  background: #fff;
  color: var(--dark-text);
}
.footer__btn {
  background: var(--light-gray);
  border: none;
  color: var(--dark-gray);
  width: 35px;
  height: 35px;
  font-size: 22px;
  border-radius: 10px;
}
.footer__btn:hover {
  cursor: pointer;
  transition: 0.15s;
  border: none;
  background: var(--light-gray);
  color: var(--dark-text);
}
.footer__btn--send {
  background: var(--blue-text);
  border: none;
  color: var(--light-gray);
  width: 35px;
  height: 35px;
  font-size: 22px;
  border-radius: 10px;
}
.footer__btn--send:hover {
  cursor: pointer;
  transition: 0.15s;
  border: none;
  background: #fff;
  color: var(--dark-text);
}
.panel {
  width: var(--panel-size);
  border-left: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px 35px 30px;
}
